@import "tailwindcss";

:root {
  --primary: #0041b9;
  --bg-light: #f6f8f6;
  --bg-dark: #081a36;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-light);
  color: #0f172a;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
